---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - x3Uq0AB1
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '6'
      X-Response-Time:
      - 47 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1695533014":0,"1695535200":1183,"1695538800":2755,"1695542400":4297,"1695546000":5507,"1695549600":5842,"1695553200":6088,"1695556800":5858,"1695560400":5032,"1695564000":3773,"1695567600":2206,"1695571200":915,"1695574800":532,"1695576584":0,"1695619508":0,"1695621600":978,"1695625200":2262,"1695628800":3460,"1695632400":4332,"1695636000":4869,"1695639600":4927,"1695643200":4763,"1695646800":4065,"1695650400":3082,"1695654000":1904,"1695657600":817,"1695661200":463,"1695662848":0},"watt_hours_period":{"1695533014":0,"1695535200":359,"1695538800":1969,"1695542400":3526,"1695546000":4902,"1695549600":5675,"1695553200":5965,"1695556800":5973,"1695560400":5445,"1695564000":4403,"1695567600":2990,"1695571200":1561,"1695574800":724,"1695576584":132,"1695619508":0,"1695621600":284,"1695625200":1620,"1695628800":2861,"1695632400":3896,"1695636000":4601,"1695639600":4898,"1695643200":4845,"1695646800":4414,"1695650400":3574,"1695654000":2493,"1695657600":1361,"1695661200":640,"1695662848":106},"watt_hours":{"1695533014":0,"1695535200":359,"1695538800":2328,"1695542400":5854,"1695546000":10756,"1695549600":16431,"1695553200":22396,"1695556800":28369,"1695560400":33814,"1695564000":38217,"1695567600":41207,"1695571200":42768,"1695574800":43492,"1695576584":43624,"1695619508":0,"1695621600":284,"1695625200":1904,"1695628800":4765,"1695632400":8661,"1695636000":13262,"1695639600":18160,"1695643200":23005,"1695646800":27419,"1695650400":30993,"1695654000":33486,"1695657600":34847,"1695661200":35487,"1695662848":35593},"watt_hours_day":{"1695506400":43624,"1695592800":35593}},"message":{"code":0,"type":"success","text":"","pid":"x3Uq0AB1","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-09-24T15:26:52+02:00","time_utc":"2023-09-24T13:26:52+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":6}}}'
  recorded_at: Sun, 24 Sep 2023 13:26:52 GMT
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/-20/9.25?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - PJ1wO2u6
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X[...]
