---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&horizon=0,30,60,30&inverter=8.5&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.22.2
      X-Build:
      - 2049 (Thu, 25 Apr 2024 12:43:30 +0200)
      X-Pid:
      - 4el68f5y
      X-Ratelimit-Zone:
      - IP 46.253.185.215
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Retry-At:
      - '2024-05-21T16:56:09+02:00'
    body:
      encoding: UTF-8
      string: '{"result":"Rate limit for API calls reached.","message":{"code":429,"type":"error","text":"Rate
        limit for API calls reached.","pid":"4el68f5y","ratelimit":{"zone":"IP 46.253.185.215","period":3600,"limit":12,"retry-at":"2024-05-21T16:56:09+02:00"}}}'
  recorded_at: Tue, 21 May 2024 13:59:12 GMT
- request:
    method: get
    uri: http://<INFLUX_HOST>:<INFLUX_PORT>/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <INFLUX_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Influxdb-Build:
      - OSS
      X-Influxdb-Version:
      - v2.7.11
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 06 May 2025 10:14:39 GMT
recorded_with: VCR 6.3.1
