---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=utc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - Q39I5741
      X-Version:
      - v3.29.2
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Retry-At:
      - '2021-09-30T10:58:20+00:00'
      X-Ratelimit-Zone:
      - IP 78.94.43.198
    body:
      encoding: UTF-8
      string: '{"result":null,"message":{"code":null,"type":"error","text":"Rate limit
        for API calls reached.","info":null,"ratelimit":{"period":3600,"limit":12,"retry-at":"2021-09-30T10:58:20+00:00"}}}'
  recorded_at: Thu, 30 Sep 2021 08:54:56 GMT
recorded_with: VCR 6.0.0
