---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - Lm9YelbK
      X-Version:
      - v5.69.0.1203
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '7'
      X-Response-Time:
      - 47 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1673595000":0,"1673596800":897,"1673600400":1616,"1673604000":1905,"1673607600":1708,"1673611200":1391,"1673614800":1306,"1673618400":724,"1673622000":212,"1673625300":0,"1673681340":0,"1673683200":136,"1673686800":410,"1673690400":581,"1673694000":691,"1673697600":665,"1673701200":627,"1673704800":479,"1673708400":216,"1673711820":0},"watt_hours_period":{"1673595000":0,"1673596800":224,"1673600400":1257,"1673604000":1761,"1673607600":1807,"1673611200":1550,"1673614800":1349,"1673618400":1015,"1673622000":468,"1673625300":97,"1673681340":0,"1673683200":35,"1673686800":273,"1673690400":496,"1673694000":636,"1673697600":678,"1673701200":646,"1673704800":553,"1673708400":348,"1673711820":103},"watt_hours":{"1673595000":0,"1673596800":224,"1673600400":1481,"1673604000":3242,"1673607600":5049,"1673611200":6599,"1673614800":7948,"1673618400":8963,"1673622000":9431,"1673625300":9528,"1673681340":0,"1673683200":35,"1673686800":308,"1673690400":804,"1673694000":1440,"1673697600":2118,"1673701200":2764,"1673704800":3317,"1673708400":3665,"1673711820":3768},"watt_hours_day":{"1673564400":9528,"1673650800":3768}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-01-13T05:31:31+01:00","time_utc":"2023-01-13T04:31:31+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":7}}}'
  recorded_at: Fri, 13 Jan 2023 04:31:31 GMT
recorded_with: VCR 6.1.0
