---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - 9AU2S143
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '0'
      X-Response-Time:
      - 44 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1695619508":0,"1695621600":1156,"1695625200":2726,"1695628800":4220,"1695632400":4374,"1695636000":4445,"1695639600":3344,"1695643200":746,"1695646800":681,"1695650400":540,"1695654000":486,"1695657600":333,"1695661200":198,"1695662848":0,"1695706003":0,"1695708000":306,"1695711600":753,"1695715200":1203,"1695718800":1726,"1695722400":2495,"1695726000":3087,"1695729600":2924,"1695733200":2605,"1695736800":1847,"1695740400":1015,"1695744000":407,"1695747600":160,"1695749112":0},"watt_hours_period":{"1695619508":0,"1695621600":336,"1695625200":1941,"1695628800":3473,"1695632400":4297,"1695636000":4410,"1695639600":3895,"1695643200":2045,"1695646800":714,"1695650400":611,"1695654000":513,"1695657600":410,"1695661200":266,"1695662848":45,"1695706003":0,"1695708000":85,"1695711600":530,"1695715200":978,"1695718800":1465,"1695722400":2111,"1695726000":2791,"1695729600":3006,"1695733200":2765,"1695736800":2226,"1695740400":1431,"1695744000":711,"1695747600":284,"1695749112":34},"watt_hours":{"1695619508":0,"1695621600":336,"1695625200":2277,"1695628800":5750,"1695632400":10047,"1695636000":14457,"1695639600":18352,"1695643200":20397,"1695646800":21111,"1695650400":21722,"1695654000":22235,"1695657600":22645,"1695661200":22911,"1695662848":22956,"1695706003":0,"1695708000":85,"1695711600":615,"1695715200":1593,"1695718800":3058,"1695722400":5169,"1695726000":7960,"1695729600":10966,"1695733200":13731,"1695736800":15957,"1695740400":17388,"1695744000":18099,"1695747600":18383,"1695749112":18417},"watt_hours_day":{"1695592800":22956,"1695679200":18417}},"message":{"code":0,"type":"success","text":"","pid":"9AU2S143","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-09-25T13:19:34+02:00","time_utc":"2023-09-25T11:19:34+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":0}}}'
  recorded_at: Mon, 25 Sep 2023 11:19:34 GMT
recorded_with: VCR 6.2.0
