---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - 6bnqjYx1
      X-Version:
      - v6.1.0.1424
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Retry-At:
      - '2023-05-16T08:33:18+02:00'
      X-Ratelimit-Zone:
      - IP 78.94.43.198
    body:
      encoding: UTF-8
      string: '{"result":null,"message":{"code":429,"type":"error","text":"Rate limit
        for API calls reached.","ratelimit":{"period":3600,"limit":12,"retry-at":"2023-05-16T08:33:18+02:00"}}}'
  recorded_at: Tue, 16 May 2023 06:23:32 GMT
recorded_with: VCR 6.1.0
