---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.32.1.2400
      X-Pid:
      - 6gWX4R1o
      X-Ratelimit-Zone:
      - IP 93.94.241.68
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '9'
      X-Process-Time:
      - 24 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1746502891":0,"1746504000":87,"1746507600":366,"1746511200":707,"1746514800":2030,"1746518400":4481,"1746522000":4573,"1746525600":3305,"1746529200":2973,"1746532800":2612,"1746536400":2317,"1746540000":1915,"1746543600":1464,"1746547200":922,"1746550800":439,"1746554400":191,"1746557300":0,"1746589189":0,"1746590400":85,"1746594000":360,"1746597600":674,"1746601200":977,"1746604800":1234,"1746608400":1430,"1746612000":1554,"1746615600":1614,"1746619200":1558,"1746622800":1428,"1746626400":1233,"1746630000":983,"1746633600":684,"1746637200":363,"1746640800":161,"1746643794":0},"watt_hours_period":{"1746502891":0,"1746504000":13,"1746507600":227,"1746511200":537,"1746514800":1369,"1746518400":3256,"1746522000":4527,"1746525600":3939,"1746529200":3139,"1746532800":2793,"1746536400":2465,"1746540000":2116,"1746543600":1690,"1746547200":1193,"1746550800":681,"1746554400":315,"1746557300":77,"1746589189":0,"1746590400":14,"1746594000":223,"1746597600":517,"1746601200":826,"1746604800":1106,"1746608400":1332,"1746612000":1492,"1746615600":1584,"1746619200":1586,"1746622800":1493,"1746626400":1331,"1746630000":1108,"1746633600":834,"1746637200":524,"1746640800":262,"1746643794":67},"watt_hours":{"1746502891":0,"1746504000":13,"1746507600":240,"1746511200":777,"1746514800":2146,"1746518400":5402,"1746522000":9929,"1746525600":13868,"1746529200":17007,"1746532800":19800,"1746536400":22265,"1746540000":24381,"1746543600":26071,"1746547200":27264,"1746550800":27945,"1746554400":28260,"1746557300":28337,"1746589189":0,"1746590400":14,"1746594000":237,"1746597600":754,"1746601200":1580,"1746604800":2686,"1746608400":4018,"1746612000":5510,"1746615600":7094,"1746619200":8680,"1746622800":10173,"1746626400":11504,"1746630000":12612,"1746633600":13446,"1746637200":13970,"1746640800":14232,"1746643794":14299},"watt_hours_day":{"1746482400":28337,"1746568800":14299}},"message":{"code":0,"type":"success","text":"","pid":"6gWX4R1o","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-05-06T12:06:21+02:00","time_utc":"2025-05-06T10:06:21+00:00"},"ratelimit":{"zone":"IP
        93.94.241.68","period":3600,"limit":12,"remaining":9}}}'
  recorded_at: Tue, 06 May 2025 10:06:21 GMT
recorded_with: VCR 6.3.1
