---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - w8A1xJ7M
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '10'
      X-Response-Time:
      - 53 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1695706003":0,"1695708000":1086,"1695711600":2582,"1695715200":4056,"1695718800":5009,"1695722400":6107,"1695726000":3487,"1695729600":520,"1695733200":487,"1695736800":397,"1695740400":312,"1695744000":173,"1695747600":51,"1695749112":0,"1695792497":0,"1695794400":566,"1695798000":813,"1695801600":906,"1695805200":795,"1695808800":714,"1695812400":688,"1695816000":616,"1695819600":544,"1695823200":388,"1695826800":303,"1695830400":167,"1695834000":48,"1695835377":0},"watt_hours_period":{"1695706003":0,"1695708000":301,"1695711600":1834,"1695715200":3319,"1695718800":4533,"1695722400":5558,"1695726000":4797,"1695729600":2004,"1695733200":504,"1695736800":442,"1695740400":355,"1695744000":243,"1695747600":112,"1695749112":11,"1695792497":0,"1695794400":150,"1695798000":690,"1695801600":860,"1695805200":851,"1695808800":755,"1695812400":701,"1695816000":652,"1695819600":580,"1695823200":466,"1695826800":346,"1695830400":235,"1695834000":108,"1695835377":9},"watt_hours":{"1695706003":0,"1695708000":301,"1695711600":2135,"1695715200":5454,"1695718800":9987,"1695722400":15545,"1695726000":20342,"1695729600":22346,"1695733200":22850,"1695736800":23292,"1695740400":23647,"1695744000":23890,"1695747600":24002,"1695749112":24013,"1695792497":0,"1695794400":150,"1695798000":840,"1695801600":1700,"1695805200":2551,"1695808800":3306,"1695812400":4007,"1695816000":4659,"1695819600":5239,"1695823200":5705,"1695826800":6051,"1695830400":6286,"1695834000":6394,"1695835377":6403},"watt_hours_day":{"1695679200":24013,"1695765600":6403}},"message":{"code":0,"type":"success","text":"","pid":"w8A1xJ7M","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-09-26T12:00:43+02:00","time_utc":"2023-09-26T10:00:43+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":10}}}'
  recorded_at: Tue, 26 Sep 2023 10:00:43 GMT
[...]
