---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=utc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - T2LUON4H
      X-Version:
      - v3.29.2
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '0'
      X-Response-Time:
      - 117 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"2021-09-30T05:27:00+00:00":0,"2021-09-30T06:44:00+00:00":28,"2021-09-30T08:00:00+00:00":119,"2021-09-30T09:00:00+00:00":812,"2021-09-30T10:00:00+00:00":2264,"2021-09-30T11:00:00+00:00":3645,"2021-09-30T12:00:00+00:00":2337,"2021-09-30T13:00:00+00:00":2719,"2021-09-30T14:00:00+00:00":2827,"2021-09-30T15:00:00+00:00":2664,"2021-09-30T16:00:00+00:00":2325,"2021-09-30T17:00:00+00:00":1777,"2021-09-30T17:11:00+00:00":351,"2021-09-30T17:21:00+00:00":0,"2021-10-01T05:28:00+00:00":0,"2021-10-01T06:44:00+00:00":9,"2021-10-01T08:00:00+00:00":24,"2021-10-01T09:00:00+00:00":380,"2021-10-01T10:00:00+00:00":1246,"2021-10-01T11:00:00+00:00":2249,"2021-10-01T12:00:00+00:00":3051,"2021-10-01T13:00:00+00:00":3533,"2021-10-01T14:00:00+00:00":3656,"2021-10-01T15:00:00+00:00":3367,"2021-10-01T16:00:00+00:00":2661,"2021-10-01T17:00:00+00:00":1818,"2021-10-01T17:10:00+00:00":360,"2021-10-01T17:19:00+00:00":0},"watt_hours":{"2021-09-30T05:27:00+00:00":0,"2021-09-30T06:44:00+00:00":36,"2021-09-30T08:00:00+00:00":187,"2021-09-30T09:00:00+00:00":999,"2021-09-30T10:00:00+00:00":3263,"2021-09-30T11:00:00+00:00":6908,"2021-09-30T12:00:00+00:00":9245,"2021-09-30T13:00:00+00:00":11964,"2021-09-30T14:00:00+00:00":14791,"2021-09-30T15:00:00+00:00":17455,"2021-09-30T16:00:00+00:00":19780,"2021-09-30T17:00:00+00:00":21557,"2021-09-30T17:11:00+00:00":21621,"2021-09-30T17:21:00+00:00":21621,"2021-10-01T05:28:00+00:00":0,"2021-10-01T06:44:00+00:00":11,"2021-10-01T08:00:00+00:00":42,"2021-10-01T09:00:00+00:00":422,"2021-10-01T10:00:00+00:00":1668,"2021-10-01T11:00:00+00:00":3917,"2021-10-01T12:00:00+00:00":6968,"2021-10-01T13:00:00+00:00":10501,"2021-10-01T14:00:00+00:00":14157,"2021-10-01T15:00:00+00:00":17524,"2021-10-01T16:00:00+00:00":20185,"2021-10-01T17:00:00+00:00":22003,"2021-10-01T17:10:00+00:00":22063,"2021-10-01T17:19:00+00:00":22063},"watt_hours_day":{"2021-09-30":21621,"2021-10-01":22063}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"place":"52428
        J\u00fclich, D\u00fcren, Nordrhein-Westfalen, DE","timezone":"Europe/Berlin"},"ratelimit":{"period":3600,"limit":12,"remaining":0}}}'
  recorded_at: Thu, 30 Sep 2021 08:48:05 GMT
recorded_with: VCR 6.0.0
