---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&horizon=0,30,60,30&inverter=8.5&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.22.2
      X-Build:
      - 2049 (Thu, 25 Apr 2024 12:43:30 +0200)
      X-Pid:
      - 24534I2h
      X-Ratelimit-Zone:
      - IP 46.253.185.215
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '7'
      X-Process-Time:
      - 50 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1716262564":0,"1716264000":304,"1716267600":782,"1716271200":1275,"1716274800":1782,"1716278400":2308,"1716282000":2679,"1716285600":2972,"1716289200":3128,"1716292800":3105,"1716296400":2955,"1716300000":2673,"1716303600":2272,"1716307200":1719,"1716310800":1105,"1716314400":564,"1716318000":258,"1716319579":0,"1716348893":0,"1716350400":294,"1716354000":765,"1716357600":1272,"1716361200":1767,"1716364800":2279,"1716368400":2684,"1716372000":2953,"1716375600":3110,"1716379200":3163,"1716382800":3169,"1716386400":2955,"1716390000":2462,"1716393600":1804,"1716397200":1117,"1716400800":566,"1716404400":258,"1716406059":0},"watt_hours_period":{"1716262564":0,"1716264000":61,"1716267600":543,"1716271200":1029,"1716274800":1529,"1716278400":2045,"1716282000":2494,"1716285600":2826,"1716289200":3050,"1716292800":3117,"1716296400":3030,"1716300000":2814,"1716303600":2473,"1716307200":1996,"1716310800":1412,"1716314400":835,"1716318000":411,"1716319579":57,"1716348893":0,"1716350400":62,"1716354000":530,"1716357600":1019,"1716361200":1520,"1716364800":2023,"1716368400":2482,"1716372000":2819,"1716375600":3032,"1716379200":3137,"1716382800":3166,"1716386400":3062,"1716390000":2709,"1716393600":2133,"1716397200":1461,"1716400800":842,"1716404400":412,"1716406059":59},"watt_hours":{"1716262564":0,"1716264000":61,"1716267600":604,"1716271200":1633,"1716274800":3162,"1716278400":5207,"1716282000":7701,"1716285600":10527,"1716289200":13577,"1716292800":16694,"1716296400":19724,"1716300000":22538,"1716303600":25011,"1716307200":27007,"1716310800":28419,"1716314400":29254,"1716318000":29665,"1716319579":29722,"1716348893":0,"1716350400":62,"1716354000":592,"1716357600":1611,"1716361200":3131,"1716364800":5154,"1716368400":7636,"1716372000":10455,"1716375600":13487,"1716379200":16624,"1716382800":19790,"1716386400":22852,"1716390000":25561,"1716393600":27694,"1716397200":29155,"1716400800":29997,"1716404400":30409,"1716406059":30468},"watt_hours_day":{"1716242400":29722,"1716328800":30468}},"message":{"code":0,"type":"success","text":"","pid":"24534I2h","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2024-05-21T15:56:10+02:00","time_utc":"2024-05-21T13:56:10+00:00"},"ratelimit":{"zone":"IP
        46.253.185.215","period":3600,"limit":12,"remaining":7}}}'
  recorded_at: Tue, 21 May 2024 13:56:10 GMT
recorded_with: VCR 6.2.0
