---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - 960sNAqe
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Retry-At:
      - '2023-09-24T14:50:12+02:00'
      X-Ratelimit-Zone:
      - IP 78.94.43.198
    body:
      encoding: UTF-8
      string: '{"result":null,"message":{"code":429,"type":"error","text":"Rate limit
        for API calls reached.","pid":"960sNAqe","ratelimit":{"period":3600,"limit":12,"retry-at":"2023-09-24T14:50:12+02:00"}}}'
  recorded_at: Sun, 24 Sep 2023 12:47:48 GMT
recorded_with: VCR 6.2.0
