---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.22.2
      X-Build:
      - 2049 (Thu, 25 Apr 2024 12:43:30 +0200)
      X-Pid:
      - bGK9nD7W
      X-Ratelimit-Zone:
      - IP 46.253.185.215
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '8'
      X-Process-Time:
      - 54 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1716261535":0,"1716264000":394,"1716267600":967,"1716271200":1690,"1716274800":2137,"1716278400":2476,"1716282000":2773,"1716285600":2961,"1716289200":3055,"1716292800":2975,"1716296400":2747,"1716300000":2414,"1716303600":1963,"1716307200":1442,"1716310800":902,"1716314400":425,"1716318000":162,"1716318659":0,"1716347864":0,"1716350400":377,"1716354000":871,"1716357600":1435,"1716361200":1989,"1716364800":2469,"1716368400":2818,"1716372000":3022,"1716375600":3117,"1716379200":3029,"1716382800":2784,"1716386400":2434,"1716390000":1969,"1716393600":1440,"1716397200":896,"1716400800":419,"1716404400":160,"1716405140":0},"watt_hours_period":{"1716261535":0,"1716264000":135,"1716267600":681,"1716271200":1329,"1716274800":1914,"1716278400":2307,"1716282000":2625,"1716285600":2867,"1716289200":3008,"1716292800":3015,"1716296400":2861,"1716300000":2581,"1716303600":2189,"1716307200":1703,"1716310800":1172,"1716314400":664,"1716318000":294,"1716318659":15,"1716347864":0,"1716350400":133,"1716354000":624,"1716357600":1153,"1716361200":1712,"1716364800":2229,"1716368400":2644,"1716372000":2920,"1716375600":3070,"1716379200":3073,"1716382800":2907,"1716386400":2609,"1716390000":2202,"1716393600":1705,"1716397200":1168,"1716400800":658,"1716404400":290,"1716405140":16},"watt_hours":{"1716261535":0,"1716264000":135,"1716267600":816,"1716271200":2145,"1716274800":4059,"1716278400":6366,"1716282000":8991,"1716285600":11858,"1716289200":14866,"1716292800":17881,"1716296400":20742,"1716300000":23323,"1716303600":25512,"1716307200":27215,"1716310800":28387,"1716314400":29051,"1716318000":29345,"1716318659":29360,"1716347864":0,"1716350400":133,"1716354000":757,"1716357600":1910,"1716361200":3622,"1716364800":5851,"1716368400":8495,"1716372000":11415,"1716375600":14485,"1716379200":17558,"1716382800":20465,"1716386400":23074,"1716390000":25276,"1716393600":26981,"1716397200":28149,"1716400800":28807,"1716404400":29097,"1716405140":29113},"watt_hours_day":{"1716242400":29360,"1716328800":29113}},"message":{"code":0,"type":"success","text":"","pid":"bGK9nD7W","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"K
        204, 99986 Oppershausen, Germany","timezone":"Europe/Berlin","time":"2024-05-21T15:56:10+02:00","time_utc":"2024-05-21T13:56:10+00:00"},"ratelimit":{"zone":"IP
        46.253.185.215","period":3600,"limit":12,"remaining":8}}}'
  recorded_at: Tue, 21 May 2024 13:56:10 GMT
recorded_with: VCR 6.2.0
