---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.32.1.2400
      X-Pid:
      - 4gIl9e5Z
      X-Ratelimit-Zone:
      - IP 93.94.241.68
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '11'
      X-Process-Time:
      - 135 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1746502891":0,"1746504000":39,"1746507600":163,"1746511200":314,"1746514800":902,"1746518400":1992,"1746522000":2032,"1746525600":1469,"1746529200":1322,"1746532800":1161,"1746536400":1030,"1746540000":851,"1746543600":651,"1746547200":410,"1746550800":195,"1746554400":85,"1746557300":0,"1746589189":0,"1746590400":38,"1746594000":160,"1746597600":300,"1746601200":434,"1746604800":548,"1746608400":636,"1746612000":691,"1746615600":717,"1746619200":692,"1746622800":635,"1746626400":548,"1746630000":437,"1746633600":304,"1746637200":161,"1746640800":72,"1746643794":0},"watt_hours_period":{"1746502891":0,"1746504000":6,"1746507600":101,"1746511200":239,"1746514800":608,"1746518400":1447,"1746522000":2012,"1746525600":1751,"1746529200":1396,"1746532800":1242,"1746536400":1096,"1746540000":941,"1746543600":751,"1746547200":531,"1746550800":303,"1746554400":140,"1746557300":34,"1746589189":0,"1746590400":6,"1746594000":99,"1746597600":230,"1746601200":367,"1746604800":491,"1746608400":592,"1746612000":664,"1746615600":704,"1746619200":705,"1746622800":664,"1746626400":592,"1746630000":493,"1746633600":371,"1746637200":233,"1746640800":117,"1746643794":30},"watt_hours":{"1746502891":0,"1746504000":6,"1746507600":107,"1746511200":346,"1746514800":954,"1746518400":2401,"1746522000":4413,"1746525600":6164,"1746529200":7560,"1746532800":8802,"1746536400":9898,"1746540000":10839,"1746543600":11590,"1746547200":12121,"1746550800":12424,"1746554400":12564,"1746557300":12598,"1746589189":0,"1746590400":6,"1746594000":105,"1746597600":335,"1746601200":702,"1746604800":1193,"1746608400":1785,"1746612000":2449,"1746615600":3153,"1746619200":3858,"1746622800":4522,"1746626400":5114,"1746630000":5607,"1746633600":5978,"1746637200":6211,"1746640800":6328,"1746643794":6358},"watt_hours_day":{"1746482400":12598,"1746568800":6358}},"message":{"code":0,"type":"success","text":"","pid":"4gIl9e5Z","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-05-06T12:06:20+02:00","time_utc":"2025-05-06T10:06:20+00:00"},"ratelimit":{"zone":"IP
        93.94.241.68","period":3600,"limit":12,"remaining":11}}}'
  recorded_at: Tue, 06 May 2025 10:06:20 GMT
[...]
