---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - 6e4Vf7iW
      X-Version:
      - v5.69.0.1240
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '6'
      X-Response-Time:
      - 209 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1675753140":0,"1675753200":789,"1675756800":2093,"1675760400":3594,"1675764000":4685,"1675767600":4987,"1675771200":5067,"1675774800":4619,"1675778400":3408,"1675782000":1847,"1675785600":705,"1675787820":0,"1675839480":0,"1675839600":794,"1675843200":2189,"1675846800":3604,"1675850400":4669,"1675854000":4958,"1675857600":5044,"1675861200":4618,"1675864800":3432,"1675868400":1880,"1675872000":738,"1675874340":0},"watt_hours_period":{"1675753140":0,"1675753200":7,"1675756800":1441,"1675760400":2844,"1675764000":4140,"1675767600":4836,"1675771200":5027,"1675774800":4843,"1675778400":4014,"1675782000":2628,"1675785600":1276,"1675787820":217,"1675839480":0,"1675839600":13,"1675843200":1492,"1675846800":2897,"1675850400":4137,"1675854000":4814,"1675857600":5001,"1675861200":4831,"1675864800":4025,"1675868400":2656,"1675872000":1309,"1675874340":240},"watt_hours":{"1675753140":0,"1675753200":7,"1675756800":1448,"1675760400":4292,"1675764000":8432,"1675767600":13268,"1675771200":18295,"1675774800":23138,"1675778400":27152,"1675782000":29780,"1675785600":31056,"1675787820":31273,"1675839480":0,"1675839600":13,"1675843200":1505,"1675846800":4402,"1675850400":8539,"1675854000":13353,"1675857600":18354,"1675861200":23185,"1675864800":27210,"1675868400":29866,"1675872000":31175,"1675874340":31415},"watt_hours_day":{"1675724400":31273,"1675810800":31415}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-02-07T09:37:18+01:00","time_utc":"2023-02-07T08:37:18+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":6}}}'
  recorded_at: Tue, 07 Feb 2023 08:37:18 GMT
recorded_with: VCR 6.1.0
