---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping_evening=0&damping_morning=0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - DG1ki22M
      X-Version:
      - v6.1.0.1424
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '2'
      X-Response-Time:
      - 1 sec.
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1684122302":0,"1684123200":513,"1684126800":1140,"1684130400":2803,"1684134000":4301,"1684137600":5593,"1684141200":6429,"1684144800":6686,"1684148400":6465,"1684152000":6108,"1684155600":4890,"1684159200":3303,"1684162800":2008,"1684166400":632,"1684170000":144,"1684173600":16,"1684177200":0,"1684178206":0,"1684208616":0,"1684209600":410,"1684213200":1429,"1684216800":2428,"1684220400":3902,"1684224000":5272,"1684227600":5921,"1684231200":5895,"1684234800":5335,"1684238400":4964,"1684242000":3219,"1684245600":3051,"1684249200":2199,"1684252800":1564,"1684256400":1152,"1684260000":435,"1684263600":211,"1684264693":0},"watt_hours_period":{"1684122302":0,"1684123200":64,"1684126800":827,"1684130400":1972,"1684134000":3552,"1684137600":4947,"1684141200":6011,"1684144800":6558,"1684148400":6576,"1684152000":6287,"1684155600":5499,"1684159200":4097,"1684162800":2656,"1684166400":1320,"1684170000":388,"1684173600":80,"1684177200":8,"1684178206":0,"1684208616":0,"1684209600":56,"1684213200":920,"1684216800":1929,"1684220400":3165,"1684224000":4587,"1684227600":5597,"1684231200":5908,"1684234800":5615,"1684238400":5150,"1684242000":4092,"1684245600":3135,"1684249200":2625,"1684252800":1882,"1684256400":1358,"1684260000":794,"1684263600":323,"1684264693":32},"watt_hours":{"1684122302":0,"1684123200":64,"1684126800":891,"1684130400":2863,"1684134000":6415,"1684137600":11362,"1684141200":17373,"1684144800":23931,"1684148400":30507,"1684152000":36794,"1684155600":42293,"1684159200":46390,"1684162800":49046,"1684166400":50366,"1684170000":50754,"1684173600":50834,"1684177200":50842,"1684178206":50842,"1684208616":0,"1684209600":56,"1684213200":976,"1684216800":2905,"1684220400":6070,"1684224000":10657,"1684227600":16254,"1684231200":22162,"1684234800":27777,"1684238400":32927,"1684242000":37019,"1684245600":40154,"1684249200":42779,"1684252800":44661,"1684256400":46019,"1684260000":46813,"1684263600":47136,"1684264693":47168},"watt_hours_day":{"1684101600":50842,"1684188000":47168}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-05-15T20:05:59+02:00","time_utc":"2023-05-15T18:05:59+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":2}}}'
  recorded_at: Mon, 15 May 2023 18:06:00 GMT
recorded_with: VCR 6.1.0
