---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&horizon=0,30,60,30&inverter=8.5&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.32.1.2400
      X-Pid:
      - Hq3hT4G8
      X-Ratelimit-Zone:
      - IP 93.94.241.68
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '8'
      X-Process-Time:
      - 86 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1746503907":0,"1746504000":0,"1746507600":0,"1746511200":0,"1746514800":657,"1746518400":2561,"1746522000":3294,"1746525600":1724,"1746529200":269,"1746532800":479,"1746536400":1429,"1746540000":1266,"1746543600":645,"1746547200":101,"1746550800":16,"1746554400":2,"1746558000":1,"1746558232":0,"1746590206":0,"1746590400":0,"1746594000":0,"1746597600":0,"1746601200":218,"1746604800":833,"1746608400":1266,"1746612000":1015,"1746615600":159,"1746619200":429,"1746622800":1304,"1746626400":1216,"1746630000":667,"1746633600":104,"1746637200":16,"1746640800":3,"1746644400":1,"1746644725":0},"watt_hours_period":{"1746503907":0,"1746504000":0,"1746507600":0,"1746511200":0,"1746514800":329,"1746518400":1609,"1746522000":2928,"1746525600":2509,"1746529200":997,"1746532800":374,"1746536400":954,"1746540000":1348,"1746543600":956,"1746547200":373,"1746550800":59,"1746554400":9,"1746558000":2,"1746558232":0,"1746590206":0,"1746590400":0,"1746594000":0,"1746597600":0,"1746601200":109,"1746604800":526,"1746608400":1050,"1746612000":1141,"1746615600":587,"1746619200":294,"1746622800":867,"1746626400":1260,"1746630000":942,"1746633600":386,"1746637200":60,"1746640800":10,"1746644400":2,"1746644725":0},"watt_hours":{"1746503907":0,"1746504000":0,"1746507600":0,"1746511200":0,"1746514800":329,"1746518400":1938,"1746522000":4866,"1746525600":7375,"1746529200":8372,"1746532800":8746,"1746536400":9700,"1746540000":11048,"1746543600":12004,"1746547200":12377,"1746550800":12436,"1746554400":12445,"1746558000":12447,"1746558232":12447,"1746590206":0,"1746590400":0,"1746594000":0,"1746597600":0,"1746601200":109,"1746604800":635,"1746608400":1685,"1746612000":2826,"1746615600":3413,"1746619200":3707,"1746622800":4574,"1746626400":5834,"1746630000":6776,"1746633600":7162,"1746637200":7222,"1746640800":7232,"1746644400":7234,"1746644725":7234},"watt_hours_day":{"1746482400":12447,"1746568800":7234}},"message":{"code":0,"type":"success","text":"","pid":"Hq3hT4G8","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2025-05-06T12:06:21+02:00","time_utc":"2025-05-06T10:06:21+00:00"},"ratelimit":{"zone":"IP
        93.94.241.68","period":3600,"limit":12,"remaining":8}}}'
  recorded_at: Tue, 06 May 2025 10:06:21 GMT
recorded_with: VCR 6.3.1
