---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - Hznmyw7S
      X-Version:
      - v6.1.0.1424
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '6'
      X-Response-Time:
      - 1 sec.
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1684208616":0,"1684209600":521,"1684213200":1244,"1684216800":1902,"1684220400":3099,"1684224000":4319,"1684227600":5276,"1684231200":5756,"1684234800":5788,"1684238400":5502,"1684242000":3850,"1684245600":2044,"1684249200":1607,"1684252800":1183,"1684256400":820,"1684260000":350,"1684263600":167,"1684264693":0,"1684294933":0,"1684296000":644,"1684299600":1696,"1684303200":2939,"1684306800":3731,"1684310400":3802,"1684314000":3838,"1684317600":4851,"1684321200":5544,"1684324800":6113,"1684328400":5909,"1684332000":5535,"1684335600":4299,"1684339200":2852,"1684342800":1466,"1684346400":464,"1684350000":199,"1684351180":0},"watt_hours_period":{"1684208616":0,"1684209600":71,"1684213200":883,"1684216800":1573,"1684220400":2501,"1684224000":3709,"1684227600":4798,"1684231200":5516,"1684234800":5772,"1684238400":5645,"1684242000":4676,"1684245600":2947,"1684249200":1826,"1684252800":1395,"1684256400":1002,"1684260000":585,"1684263600":259,"1684264693":25,"1684294933":0,"1684296000":95,"1684299600":1170,"1684303200":2318,"1684306800":3335,"1684310400":3767,"1684314000":3820,"1684317600":4345,"1684321200":5198,"1684324800":5829,"1684328400":6011,"1684332000":5722,"1684335600":4917,"1684339200":3576,"1684342800":2159,"1684346400":965,"1684350000":332,"1684351180":33},"watt_hours":{"1684208616":0,"1684209600":71,"1684213200":954,"1684216800":2527,"1684220400":5028,"1684224000":8737,"1684227600":13535,"1684231200":19051,"1684234800":24823,"1684238400":30468,"1684242000":35144,"1684245600":38091,"1684249200":39917,"1684252800":41312,"1684256400":42314,"1684260000":42899,"1684263600":43158,"1684264693":43183,"1684294933":0,"1684296000":95,"1684299600":1265,"1684303200":3583,"1684306800":6918,"1684310400":10685,"1684314000":14505,"1684317600":18850,"1684321200":24048,"1684324800":29877,"1684328400":35888,"1684332000":41610,"1684335600":46527,"1684339200":50103,"1684342800":52262,"1684346400":53227,"1684350000":53559,"1684351180":53592},"watt_hours_day":{"1684188000":43183,"1684274400":53592}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"distance":0,"place":"Kart\u00e4userstra\u00dfe,
        Lich-Steinstra\u00df, J\u00fclich, Kreis D\u00fcren, Nordrhein-Westfalen,
        52428, Deutschland","timezone":"Europe/Berlin","time":"2023-05-16T07:46:37+02:00","time_utc":"2023-05-16T05:46:37+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":6}}}'
  recorded_at: Tue, 16 May 2023 05:46:38 GMT
recorded_with: VCR 6.1.0
