---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - gAaEQnb4
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '8'
      X-Response-Time:
      - 2 sec.
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1695705029":0,"1695708000":991,"1695711600":1725,"1695715200":2329,"1695718800":2745,"1695722400":2901,"1695726000":2797,"1695729600":2480,"1695733200":1936,"1695736800":1255,"1695740400":488,"1695744000":128,"1695747600":69,"1695748139":0,"1695791525":0,"1695794400":856,"1695798000":1478,"1695801600":1953,"1695805200":2280,"1695808800":2387,"1695812400":2287,"1695816000":2130,"1695819600":1595,"1695823200":956,"1695826800":351,"1695830400":102,"1695834000":48,"1695834402":0},"watt_hours_period":{"1695705029":0,"1695708000":409,"1695711600":1358,"1695715200":2027,"1695718800":2537,"1695722400":2823,"1695726000":2849,"1695729600":2639,"1695733200":2208,"1695736800":1596,"1695740400":872,"1695744000":308,"1695747600":99,"1695748139":5,"1695791525":0,"1695794400":342,"1695798000":1167,"1695801600":1716,"1695805200":2117,"1695808800":2334,"1695812400":2337,"1695816000":2209,"1695819600":1863,"1695823200":1276,"1695826800":654,"1695830400":227,"1695834000":75,"1695834402":3},"watt_hours":{"1695705029":0,"1695708000":409,"1695711600":1767,"1695715200":3794,"1695718800":6331,"1695722400":9154,"1695726000":12003,"1695729600":14642,"1695733200":16850,"1695736800":18446,"1695740400":19318,"1695744000":19626,"1695747600":19725,"1695748139":19730,"1695791525":0,"1695794400":342,"1695798000":1509,"1695801600":3225,"1695805200":5342,"1695808800":7676,"1695812400":10013,"1695816000":12222,"1695819600":14085,"1695823200":15361,"1695826800":16015,"1695830400":16242,"1695834000":16317,"1695834402":16320},"watt_hours_day":{"1695679200":19730,"1695765600":16320}},"message":{"code":0,"type":"success","text":"","pid":"gAaEQnb4","info":{"latitude":51.13,"longitude":10.42,"distance":1.718,"place":"99986
        Thuringia, Germany","timezone":"Europe/Berlin","time":"2023-09-26T12:45:36+02:00","time_utc":"2023-09-26T10:45:36+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":8}}}'
  recorded_at: Tue, 26 Sep 2023 10:45:37 GMT
[...]
