---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - m8BxJi57
      X-Version:
      - v3.29.2
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '1'
      X-Response-Time:
      - 121 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1632979620":0,"1632980640":28,"1632981600":119,"1632985200":812,"1632988800":2264,"1632992400":3645,"1632996000":2317,"1632999600":2698,"1633003200":2808,"1633006800":2343,"1633010400":2104,"1633014000":1692,"1633017600":1314,"1633021200":611,"1633021860":120,"1633022460":0,"1633066080":0,"1633067040":18,"1633068000":82,"1633071600":631,"1633075200":1698,"1633078800":2620,"1633082400":3181,"1633086000":3574,"1633089600":3595,"1633093200":3202,"1633096800":2475,"1633100400":1665,"1633104000":1116,"1633107600":597,"1633108200":120,"1633108740":0},"watt_hours":{"1632979620":0,"1632980640":8,"1632981600":40,"1632985200":852,"1632988800":3116,"1632992400":6761,"1632996000":9078,"1632999600":11776,"1633003200":14584,"1633006800":16927,"1633010400":19031,"1633014000":20723,"1633017600":22037,"1633021200":22648,"1633021860":22670,"1633022460":22670,"1633066080":0,"1633067040":5,"1633068000":27,"1633071600":658,"1633075200":2356,"1633078800":4976,"1633082400":8157,"1633086000":11731,"1633089600":15326,"1633093200":18528,"1633096800":21003,"1633100400":22668,"1633104000":23784,"1633107600":24381,"1633108200":24401,"1633108740":24401},"watt_hours_day":{"1632960000":22670,"1633046400":24401}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":6.407,"place":"52428
        J\u00fclich, D\u00fcren, Nordrhein-Westfalen, DE","timezone":"Europe/Berlin"},"ratelimit":{"period":3600,"limit":12,"remaining":1}}}'
  recorded_at: Thu, 30 Sep 2021 13:12:17 GMT
recorded_with: VCR 6.0.0
