---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pid:
      - dz8DHpwW
      X-Version:
      - v6.12.2.1499
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '6'
      X-Response-Time:
      - 837 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1695705029":0,"1695708000":2229,"1695711600":3882,"1695715200":5240,"1695718800":6177,"1695722400":6530,"1695726000":6292,"1695729600":5579,"1695733200":4355,"1695736800":2824,"1695740400":1097,"1695744000":289,"1695747600":155,"1695748139":0,"1695791525":0,"1695794400":1926,"1695798000":3326,"1695801600":4393,"1695805200":5131,"1695808800":5369,"1695812400":5146,"1695816000":4792,"1695819600":3589,"1695823200":2150,"1695826800":789,"1695830400":230,"1695834000":108,"1695834402":0},"watt_hours_period":{"1695705029":0,"1695708000":920,"1695711600":3056,"1695715200":4561,"1695718800":5709,"1695722400":6354,"1695726000":6411,"1695729600":5936,"1695733200":4967,"1695736800":3590,"1695740400":1961,"1695744000":693,"1695747600":222,"1695748139":12,"1695791525":0,"1695794400":769,"1695798000":2626,"1695801600":3860,"1695805200":4762,"1695808800":5250,"1695812400":5258,"1695816000":4969,"1695819600":4191,"1695823200":2870,"1695826800":1470,"1695830400":510,"1695834000":169,"1695834402":6},"watt_hours":{"1695705029":0,"1695708000":920,"1695711600":3976,"1695715200":8537,"1695718800":14246,"1695722400":20600,"1695726000":27011,"1695729600":32947,"1695733200":37914,"1695736800":41504,"1695740400":43465,"1695744000":44158,"1695747600":44380,"1695748139":44392,"1695791525":0,"1695794400":769,"1695798000":3395,"1695801600":7255,"1695805200":12017,"1695808800":17267,"1695812400":22525,"1695816000":27494,"1695819600":31685,"1695823200":34555,"1695826800":36025,"1695830400":36535,"1695834000":36704,"1695834402":36710},"watt_hours_day":{"1695679200":44392,"1695765600":36710}},"message":{"code":0,"type":"success","text":"","pid":"dz8DHpwW","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"99986
        Thuringia, Germany","timezone":"Europe/Berlin","time":"2023-09-26T12:45:38+02:00","time_utc":"2023-09-26T10:45:38+00:00"},"ratelimit":{"period":3600,"limit":12,"remaining":6}}}'
  recorded_at: Tue, 26 Sep 2023 10:45:38 GMT
recorded_with: VCR 6.2.0
