---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pid:
      - LGla4b1C
      X-Version:
      - v5.13.0-219-a0fb3b3
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '9'
      X-Response-Time:
      - 763 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1648961880":0,"1648963740":18,"1648965600":104,"1648969200":654,"1648972800":2124,"1648976400":3731,"1648980000":4287,"1648983600":5348,"1648987200":3743,"1648990800":4535,"1648994400":4091,"1648998000":3453,"1649001600":2582,"1649005200":1695,"1649008800":820,"1649009280":166,"1649009760":0,"1649048160":0,"1649050080":18,"1649052000":77,"1649055600":354,"1649059200":809,"1649062800":1238,"1649066400":1613,"1649070000":1891,"1649073600":2129,"1649077200":2187,"1649080800":2158,"1649084400":1983,"1649088000":1697,"1649091600":1278,"1649095200":718,"1649095740":148,"1649096280":0},"watt_hours":{"1648961880":0,"1648963740":9,"1648965600":63,"1648969200":717,"1648972800":2841,"1648976400":6572,"1648980000":10859,"1648983600":16207,"1648987200":19950,"1648990800":24485,"1648994400":28576,"1648998000":32029,"1649001600":34611,"1649005200":36306,"1649008800":37126,"1649009280":37148,"1649009760":37148,"1649048160":0,"1649050080":10,"1649052000":51,"1649055600":405,"1649059200":1214,"1649062800":2452,"1649066400":4065,"1649070000":5956,"1649073600":8085,"1649077200":10272,"1649080800":12430,"1649084400":14413,"1649088000":16110,"1649091600":17388,"1649095200":18106,"1649095740":18128,"1649096280":18128},"watt_hours_day":{"1648944000":37148,"1649030400":18128}},"message":{"code":0,"type":"success","text":"","info":{"latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"place":"52428
        J\u00fclich, D\u00fcren, Nordrhein-Westfalen, DE","timezone":"Europe/Berlin"},"ratelimit":{"period":3600,"limit":12,"remaining":9}}}'
  recorded_at: Sun, 03 Apr 2022 09:29:14 GMT
recorded_with: VCR 6.1.0
