---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.22.2
      X-Build:
      - 2049 (Thu, 25 Apr 2024 12:43:30 +0200)
      X-Pid:
      - 9fnxgJ3l
      X-Ratelimit-Zone:
      - IP 46.253.185.215
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '10'
      X-Process-Time:
      - 52 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1716261535":0,"1716264000":175,"1716267600":430,"1716271200":751,"1716274800":950,"1716278400":1100,"1716282000":1233,"1716285600":1316,"1716289200":1358,"1716292800":1322,"1716296400":1221,"1716300000":1073,"1716303600":872,"1716307200":641,"1716310800":401,"1716314400":189,"1716318000":72,"1716318659":0,"1716347864":0,"1716350400":168,"1716354000":387,"1716357600":638,"1716361200":884,"1716364800":1098,"1716368400":1252,"1716372000":1343,"1716375600":1385,"1716379200":1346,"1716382800":1237,"1716386400":1082,"1716390000":875,"1716393600":640,"1716397200":398,"1716400800":186,"1716404400":71,"1716405140":0},"watt_hours_period":{"1716261535":0,"1716264000":60,"1716267600":303,"1716271200":591,"1716274800":851,"1716278400":1025,"1716282000":1167,"1716285600":1275,"1716289200":1337,"1716292800":1340,"1716296400":1272,"1716300000":1147,"1716303600":973,"1716307200":757,"1716310800":521,"1716314400":295,"1716318000":131,"1716318659":7,"1716347864":0,"1716350400":59,"1716354000":278,"1716357600":513,"1716361200":761,"1716364800":991,"1716368400":1175,"1716372000":1298,"1716375600":1364,"1716379200":1366,"1716382800":1292,"1716386400":1160,"1716390000":979,"1716393600":758,"1716397200":519,"1716400800":292,"1716404400":129,"1716405140":7},"watt_hours":{"1716261535":0,"1716264000":60,"1716267600":363,"1716271200":954,"1716274800":1805,"1716278400":2830,"1716282000":3997,"1716285600":5272,"1716289200":6609,"1716292800":7949,"1716296400":9221,"1716300000":10368,"1716303600":11341,"1716307200":12098,"1716310800":12619,"1716314400":12914,"1716318000":13045,"1716318659":13052,"1716347864":0,"1716350400":59,"1716354000":337,"1716357600":850,"1716361200":1611,"1716364800":2602,"1716368400":3777,"1716372000":5075,"1716375600":6439,"1716379200":7805,"1716382800":9097,"1716386400":10257,"1716390000":11236,"1716393600":11994,"1716397200":12513,"1716400800":12805,"1716404400":12934,"1716405140":12941},"watt_hours_day":{"1716242400":13052,"1716328800":12941}},"message":{"code":0,"type":"success","text":"","pid":"9fnxgJ3l","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"K
        204, 99986 Oppershausen, Germany","timezone":"Europe/Berlin","time":"2024-05-21T15:56:09+02:00","time_utc":"2024-05-21T13:56:09+00:00"},"ratelimit":{"zone":"IP
        46.253.185.215","period":3600,"limit":12,"remaining":10}}}'
  recorded_at: Tue, 21 May 2024 13:56:09 GMT
[...]
