---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/1111-2222-3333-4444/forecasts?api_key=APIKEY&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"forecasts": 
        [{"pv_estimate":3.0507,"pv_estimate10":3.0507,"pv_estimate90":3.0507,"period_end":"2024-05-11T11:30:00.0000000Z","period":"PT30M"},{"pv_estimate":2.8399,"pv_estimate10":2.8399,"pv_estimate90":2.8399,"period_end":"2024-05-11T12:00:00.0000000Z","period":"PT30M"},{"pv_estimate":2.5846,"pv_estimate10":2.5846,"pv_estimate90":2.5846,"period_end":"2024-05-11T12:30:00.0000000Z","period":"PT30M"},{"pv_estimate":2.3013,"pv_estimate10":2.295,"pv_estimate90":2.3013,"period_end":"2024-05-11T13:00:00.0000000Z","period":"PT30M"},{"pv_estimate":1.9628,"pv_estimate10":1.9245,"pv_estimate90":1.972,"period_end":"2024-05-11T13:30:00.0[...]
