---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/<SOLCAST_0_SITE>/forecasts?api_key=<SOLCAST_APIKEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1715664840'
    body:
      encoding: UTF-8
      string: '{"forecasts":[{"pv_estimate":0.8338,"pv_estimate10":0.8338,"pv_estimate90":0.8338,"period_end":"2024-05-14T06:00:00.0000000Z","period":"PT30M"},{"pv_estimate":1.1247,"pv_estimate10":1.1247,"pv_estimate90":1.1247,"period_end":"2024-05-14T06:30:00.0000000Z","period":"PT30M"},{"pv_estimate":1.4717,"pv_estimate10":1.4717,"pv_estimate90":1.4717,"period_end":"2024-05-14T07:00:00.0000000Z","period":"PT30M"},{"pv_estimate":1.8514,"pv_estimate10":1.75883,"pv_estimate90":1.8514,"period_end":"2024-05-14T07:30:00.0000000Z","period":"PT30M"},{"pv_estimate":2.141,"pv_estimate10":2.03395,"pv_estimate90":2.141,"period_end":"2024-05-14T08:00:00[...]
