---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/<SOLCAST_0_SITE>/forecasts?api_key=<SOLCAST_APIKEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Reset:
      - '1746526020'
      X-Rate-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
    body:
      encoding: UTF-8
      string: '{"forecasts":[{"pv_estimate":6.2527,"pv_estimate10":5.5298,"pv_estimate90":6.8504,"period_end":"2025-05-06T10:30:00.0000000Z","period":"PT30M"},{"pv_estimate":6.7665,"pv_estimate10":4.9671,"pv_estimate90":7.7131,"period_end":"2025-05-06T11:00:00.0000000Z","period":"PT30M"},{"pv_estimate":6.5841,"pv_estimate10":4.392,"pv_estimate90":8.0658,"period_end":"2025-05-06T11:30:00.0000000Z","period":"PT30M"},{"pv_estimate":6.3554,"pv_estimate10":4.4899,"pv_estimate90":8.126,"period_end":"2025-05-06T12:00:00.0000000Z","period":"PT30M"},{"pv_estimate":6.4626,"pv_estimate10":4.5747,"pv_estimate90":8.1992,"period_end":"2025-05-06T12:30:00.0[...]
