---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/<FORECAST_LATITUDE>/<FORECAST_LONGITUDE>/30/20/9.24?damping=0,0&horizon=0,30,60,30&inverter=8.5&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.33.1.2451
      X-Pid:
      - i4xcS5Ep
      X-Ratelimit-Zone:
      - IP 78.94.43.198
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Retry-At:
      - '2025-08-19T10:04:33+02:00'
    body:
      encoding: UTF-8
      string: '{"result":"Rate limit for API calls reached.","message":{"code":429,"type":"error","text":"Rate
        limit for API calls reached.","pid":"i4xcS5Ep","info":[],"ratelimit":{"zone":"IP
        78.94.43.198","period":3600,"limit":12,"retry-at":"2025-08-19T10:04:33+02:00"}}}'
  recorded_at: Tue, 19 Aug 2025 07:29:23 GMT
- request:
    method: get
    uri: http://<INFLUX_HOST>:<INFLUX_PORT>/ping
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <INFLUX_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Influxdb-Build:
      - OSS
      X-Influxdb-Version:
      - v2.7.12
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 19 Aug 2025 07:29:25 GMT
recorded_with: VCR 6.3.1
