---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.33.1.2451
      X-Pid:
      - T13tGi70
      X-Ratelimit-Zone:
      - IP 78.94.43.198
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '7'
      X-Process-Time:
      - 17 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1755576704":0,"1755579600":629,"1755583200":1813,"1755586800":3285,"1755590400":4694,"1755594000":5783,"1755597600":6327,"1755601200":6379,"1755604800":5981,"1755608400":5064,"1755612000":3723,"1755615600":2696,"1755619200":1631,"1755622800":701,"1755626400":185,"1755628324":0,"1755663197":0,"1755666000":472,"1755669600":1253,"1755673200":2161,"1755676800":2937,"1755680400":3415,"1755684000":3441,"1755687600":3256,"1755691200":2997,"1755694800":2602,"1755698400":2078,"1755702000":1529,"1755705600":970,"1755709200":471,"1755712800":221,"1755714601":0},"watt_hours_period":{"1755576704":0,"1755579600":253,"1755583200":1221,"1755586800":2549,"1755590400":3990,"1755594000":5239,"1755597600":6055,"1755601200":6353,"1755604800":6180,"1755608400":5523,"1755612000":4394,"1755615600":3210,"1755619200":2164,"1755622800":1166,"1755626400":443,"1755628324":49,"1755663197":0,"1755666000":184,"1755669600":863,"1755673200":1707,"1755676800":2549,"1755680400":3176,"1755684000":3428,"1755687600":3349,"1755691200":3127,"1755694800":2800,"1755698400":2340,"1755702000":1804,"1755705600":1250,"1755709200":721,"1755712800":346,"1755714601":55},"watt_hours":{"1755576704":0,"1755579600":253,"1755583200":1474,"1755586800":4023,"1755590400":8013,"1755594000":13252,"1755597600":19307,"1755601200":25660,"1755604800":31840,"1755608400":37363,"1755612000":41757,"1755615600":44967,"1755619200":47131,"1755622800":48297,"1755626400":48740,"1755628324":48789,"1755663197":0,"1755666000":184,"1755669600":1047,"1755673200":2754,"1755676800":5303,"1755680400":8479,"1755684000":11907,"1755687600":15256,"1755691200":18383,"1755694800":21183,"1755698400":23523,"1755702000":25327,"1755705600":26577,"1755709200":27298,"1755712800":27644,"1755714601":27699},"watt_hours_day":{"1755554400":48789,"1755640800":27699}},"message":{"code":0,"type":"success","text":"","pid":"T13tGi70","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-08-19T16:08:43+02:00","time_utc":"2025-08-19T14:08:43+00:00"},"ratelimit":{"zone":"IP
        78.94.43.198","period":3600,"limit":12,"remaining":7}}}'
  recorded_at: Tue, 19 Aug 2025 14:08:43 GMT
recorded_with: VCR 6.3.1
