---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.33.1.2451
      X-Pid:
      - z3gUG7w4
      X-Ratelimit-Zone:
      - IP 78.94.43.198
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '6'
      X-Process-Time:
      - 17 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1755576704":0,"1755579600":628,"1755583200":1720,"1755586800":3078,"1755590400":4394,"1755594000":5351,"1755597600":5770,"1755601200":5760,"1755604800":5434,"1755608400":4762,"1755612000":3838,"1755615600":2858,"1755619200":1723,"1755622800":738,"1755626400":195,"1755628324":0,"1755663197":0,"1755666000":502,"1755669600":1335,"1755673200":2295,"1755676800":3086,"1755680400":3514,"1755684000":3531,"1755687600":3345,"1755691200":3035,"1755694800":2599,"1755698400":2072,"1755702000":1543,"1755705600":995,"1755709200":484,"1755712800":227,"1755714601":0},"watt_hours_period":{"1755576704":0,"1755579600":253,"1755583200":1174,"1755586800":2399,"1755590400":3736,"1755594000":4873,"1755597600":5561,"1755601200":5765,"1755604800":5597,"1755608400":5098,"1755612000":4300,"1755615600":3348,"1755619200":2291,"1755622800":1231,"1755626400":467,"1755628324":52,"1755663197":0,"1755666000":195,"1755669600":919,"1755673200":1815,"1755676800":2691,"1755680400":3300,"1755684000":3523,"1755687600":3438,"1755691200":3190,"1755694800":2817,"1755698400":2336,"1755702000":1808,"1755705600":1269,"1755709200":740,"1755712800":356,"1755714601":57},"watt_hours":{"1755576704":0,"1755579600":253,"1755583200":1427,"1755586800":3826,"1755590400":7562,"1755594000":12435,"1755597600":17996,"1755601200":23761,"1755604800":29358,"1755608400":34456,"1755612000":38756,"1755615600":42104,"1755619200":44395,"1755622800":45626,"1755626400":46093,"1755628324":46145,"1755663197":0,"1755666000":195,"1755669600":1114,"1755673200":2929,"1755676800":5620,"1755680400":8920,"1755684000":12443,"1755687600":15881,"1755691200":19071,"1755694800":21888,"1755698400":24224,"1755702000":26032,"1755705600":27301,"1755709200":28041,"1755712800":28397,"1755714601":28454},"watt_hours_day":{"1755554400":46145,"1755640800":28454}},"message":{"code":0,"type":"success","text":"","pid":"z3gUG7w4","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-08-19T09:26:08+02:00","time_utc":"2025-08-19T07:26:08+00:00"},"ratelimit":{"zone":"IP
        78.94.43.198","period":3600,"limit":12,"remaining":6}}}'
  recorded_at: Tue, 19 Aug 2025 07:26:08 GMT
recorded_with: VCR 6.3.1
