---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.33.1.2451
      X-Pid:
      - 2780S5kC
      X-Ratelimit-Zone:
      - IP 78.94.43.198
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '9'
      X-Process-Time:
      - 126 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1755576704":0,"1755579600":280,"1755583200":806,"1755586800":1460,"1755590400":2086,"1755594000":2570,"1755597600":2812,"1755601200":2835,"1755604800":2658,"1755608400":2251,"1755612000":1655,"1755615600":1198,"1755619200":725,"1755622800":312,"1755626400":82,"1755628324":0,"1755663197":0,"1755666000":210,"1755669600":557,"1755673200":960,"1755676800":1305,"1755680400":1518,"1755684000":1529,"1755687600":1447,"1755691200":1332,"1755694800":1156,"1755698400":924,"1755702000":680,"1755705600":431,"1755709200":209,"1755712800":98,"1755714601":0},"watt_hours_period":{"1755576704":0,"1755579600":113,"1755583200":543,"1755586800":1133,"1755590400":1773,"1755594000":2328,"1755597600":2691,"1755601200":2824,"1755604800":2747,"1755608400":2455,"1755612000":1953,"1755615600":1427,"1755619200":962,"1755622800":519,"1755626400":197,"1755628324":22,"1755663197":0,"1755666000":82,"1755669600":384,"1755673200":759,"1755676800":1133,"1755680400":1412,"1755684000":1524,"1755687600":1488,"1755691200":1390,"1755694800":1244,"1755698400":1040,"1755702000":802,"1755705600":556,"1755709200":320,"1755712800":154,"1755714601":25},"watt_hours":{"1755576704":0,"1755579600":113,"1755583200":656,"1755586800":1789,"1755590400":3562,"1755594000":5890,"1755597600":8581,"1755601200":11405,"1755604800":14152,"1755608400":16607,"1755612000":18560,"1755615600":19987,"1755619200":20949,"1755622800":21468,"1755626400":21665,"1755628324":21687,"1755663197":0,"1755666000":82,"1755669600":466,"1755673200":1225,"1755676800":2358,"1755680400":3770,"1755684000":5294,"1755687600":6782,"1755691200":8172,"1755694800":9416,"1755698400":10456,"1755702000":11258,"1755705600":11814,"1755709200":12134,"1755712800":12288,"1755714601":12313},"watt_hours_day":{"1755554400":21687,"1755640800":12313}},"message":{"code":0,"type":"success","text":"","pid":"2780S5kC","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-08-19T16:08:43+02:00","time_utc":"2025-08-19T14:08:43+00:00"},"ratelimit":{"zone":"IP
        78.94.43.198","period":3600,"limit":12,"remaining":9}}}'
  recorded_at: Tue, 19 Aug 2025 14:08:43 GMT
[...]
