---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.33.1.2451
      X-Pid:
      - l8K33t20
      X-Ratelimit-Zone:
      - IP 78.94.43.198
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '8'
      X-Process-Time:
      - 24 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1755576704":0,"1755579600":279,"1755583200":764,"1755586800":1368,"1755590400":1953,"1755594000":2378,"1755597600":2564,"1755601200":2560,"1755604800":2415,"1755608400":2117,"1755612000":1706,"1755615600":1270,"1755619200":766,"1755622800":328,"1755626400":87,"1755628324":0,"1755663197":0,"1755666000":223,"1755669600":593,"1755673200":1020,"1755676800":1372,"1755680400":1562,"1755684000":1569,"1755687600":1487,"1755691200":1349,"1755694800":1155,"1755698400":921,"1755702000":686,"1755705600":442,"1755709200":215,"1755712800":101,"1755714601":0},"watt_hours_period":{"1755576704":0,"1755579600":112,"1755583200":522,"1755586800":1066,"1755590400":1661,"1755594000":2166,"1755597600":2471,"1755601200":2562,"1755604800":2488,"1755608400":2266,"1755612000":1912,"1755615600":1488,"1755619200":1018,"1755622800":547,"1755626400":208,"1755628324":23,"1755663197":0,"1755666000":87,"1755669600":408,"1755673200":807,"1755676800":1196,"1755680400":1467,"1755684000":1566,"1755687600":1528,"1755691200":1418,"1755694800":1252,"1755698400":1038,"1755702000":804,"1755705600":564,"1755709200":329,"1755712800":158,"1755714601":25},"watt_hours":{"1755576704":0,"1755579600":112,"1755583200":634,"1755586800":1700,"1755590400":3361,"1755594000":5527,"1755597600":7998,"1755601200":10560,"1755604800":13048,"1755608400":15314,"1755612000":17226,"1755615600":18714,"1755619200":19732,"1755622800":20279,"1755626400":20487,"1755628324":20510,"1755663197":0,"1755666000":87,"1755669600":495,"1755673200":1302,"1755676800":2498,"1755680400":3965,"1755684000":5531,"1755687600":7059,"1755691200":8477,"1755694800":9729,"1755698400":10767,"1755702000":11571,"1755705600":12135,"1755709200":12464,"1755712800":12622,"1755714601":12647},"watt_hours_day":{"1755554400":20510,"1755640800":12647}},"message":{"code":0,"type":"success","text":"","pid":"l8K33t20","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2025-08-19T09:26:08+02:00","time_utc":"2025-08-19T07:26:08+00:00"},"ratelimit":{"zone":"IP
        78.94.43.198","period":3600,"limit":12,"remaining":8}}}'
  recorded_at: Tue, 19 Aug 2025 07:26:08 GMT
[...]
