---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/9?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.36.0.2482
      X-Pid:
      - q2Zd86kM
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '8'
      X-Process-Time:
      - 33 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1773811508":0,"1773813600":1115,"1773817200":2851,"1773820800":4715,"1773824400":5939,"1773828000":6393,"1773831600":6739,"1773835200":6532,"1773838800":5874,"1773842400":4709,"1773846000":3148,"1773849600":1529,"1773853200":411,"1773854856":0,"1773897772":0,"1773900000":672,"1773903600":1638,"1773907200":2787,"1773910800":3971,"1773914400":4862,"1773918000":5240,"1773921600":5151,"1773925200":4574,"1773928800":3546,"1773932400":2382,"1773936000":1171,"1773939600":519,"1773941356":0},"watt_hours_period":{"1773811508":0,"1773813600":324,"1773817200":1983,"1773820800":3783,"1773824400":5327,"1773828000":6166,"1773831600":6566,"1773835200":6636,"1773838800":6203,"1773842400":5292,"1773846000":3929,"1773849600":2339,"1773853200":970,"1773854856":95,"1773897772":0,"1773900000":208,"1773903600":1155,"1773907200":2213,"1773910800":3379,"1773914400":4417,"1773918000":5051,"1773921600":5196,"1773925200":4863,"1773928800":4060,"1773932400":2964,"1773936000":1777,"1773939600":845,"1773941356":127},"watt_hours":{"1773811508":0,"1773813600":324,"1773817200":2307,"1773820800":6090,"1773824400":11417,"1773828000":17583,"1773831600":24149,"1773835200":30785,"1773838800":36988,"1773842400":42280,"1773846000":46209,"1773849600":48548,"1773853200":49518,"1773854856":49613,"1773897772":0,"1773900000":208,"1773903600":1363,"1773907200":3576,"1773910800":6955,"1773914400":11372,"1773918000":16423,"1773921600":21619,"1773925200":26482,"1773928800":30542,"1773932400":33506,"1773936000":35283,"1773939600":36128,"1773941356":36255},"watt_hours_day":{"1773788400":49613,"1773874800":36255}},"message":{"code":0,"type":"success","text":"","pid":"q2Zd86kM","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2026-03-18T11:09:58+01:00","time_utc":"2026-03-18T10:09:58+00:00"},"ratelimit":{"zone":"IP
        <FILTERED>","period":3600,"limit":12,"remaining":8}}}'
  recorded_at: Wed, 18 Mar 2026 10:09:58 GMT
recorded_with: VCR 6.4.0
