---
http_interactions:
- request:
    method: get
    uri: https://api.forecast.solar/estimate/51.13/10.42/30/0/4?damping=0,0&time=seconds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Version:
      - v7.36.0.2482
      X-Pid:
      - w9t859sb
      X-Ratelimit-Period:
      - '3600'
      X-Ratelimit-Limit:
      - '12'
      X-Ratelimit-Remaining:
      - '10'
      X-Process-Time:
      - 34 ms
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"watts":{"1773811508":0,"1773813600":496,"1773817200":1267,"1773820800":2095,"1773824400":2640,"1773828000":2841,"1773831600":2995,"1773835200":2903,"1773838800":2611,"1773842400":2093,"1773846000":1399,"1773849600":680,"1773853200":183,"1773854856":0,"1773897772":0,"1773900000":299,"1773903600":728,"1773907200":1238,"1773910800":1765,"1773914400":2161,"1773918000":2329,"1773921600":2289,"1773925200":2033,"1773928800":1576,"1773932400":1059,"1773936000":520,"1773939600":231,"1773941356":0},"watt_hours_period":{"1773811508":0,"1773813600":144,"1773817200":882,"1773820800":1681,"1773824400":2368,"1773828000":2741,"1773831600":2918,"1773835200":2949,"1773838800":2757,"1773842400":2352,"1773846000":1746,"1773849600":1040,"1773853200":432,"1773854856":42,"1773897772":0,"1773900000":93,"1773903600":514,"1773907200":983,"1773910800":1502,"1773914400":1963,"1773918000":2245,"1773921600":2309,"1773925200":2161,"1773928800":1805,"1773932400":1318,"1773936000":790,"1773939600":376,"1773941356":56},"watt_hours":{"1773811508":0,"1773813600":144,"1773817200":1026,"1773820800":2707,"1773824400":5075,"1773828000":7816,"1773831600":10734,"1773835200":13683,"1773838800":16440,"1773842400":18792,"1773846000":20538,"1773849600":21578,"1773853200":22010,"1773854856":22052,"1773897772":0,"1773900000":93,"1773903600":607,"1773907200":1590,"1773910800":3092,"1773914400":5055,"1773918000":7300,"1773921600":9609,"1773925200":11770,"1773928800":13575,"1773932400":14893,"1773936000":15683,"1773939600":16059,"1773941356":16115},"watt_hours_day":{"1773788400":22052,"1773874800":16115}},"message":{"code":0,"type":"success","text":"","pid":"w9t859sb","info":{"latitude":51.13,"longitude":10.42,"distance":0,"place":"Gelbrieder
        Gasse, 99986 Kammerforst, Germany","timezone":"Europe/Berlin","time":"2026-03-18T11:09:56+01:00","time_utc":"2026-03-18T10:09:56+00:00"},"ratelimit":{"zone":"IP
        <FILTERED>","period":3600,"limit":12,"remaining":10}}}'
  recorded_at: Wed, 18 Mar 2026 10:09:56 GMT
[...]
