---
http_interactions:
- request:
    method: get
    uri: https://api.pvnode.com/v1/forecast/?latitude=<FORECAST_LATITUDE>&longitude=<FORECAST_LONGITUDE>&orientation=200&past_days=0&pv_power_kw=9.24&required_data=pv_watts&slope=30
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PVNODE_APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":"forecast","latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"elevation":86.1,"slope":30.0,"orientation":200.0,"data_timezone":"utc","values":[{"dtm":"2025-08-21
        00:00:00","pv_watts":0.0},{"dtm":"2025-08-21 00:15:00","pv_watts":0.0},{"dtm":"2025-08-21
        00:30:00","pv_watts":0.0},{"dtm":"2025-08-21 00:45:00","pv_watts":0.0},{"dtm":"2025-08-21
        01:00:00","pv_watts":0.0},{"dtm":"2025-08-21 01:15:00","pv_watts":0.0},{"dtm":"2025-08-21
        01:30:00","pv_watts":0.0},{"dtm":"2025-08-21 01:45:00","pv_watts":0.0},{"dtm":"2025-08-21
        02:00:00","pv_watts":0.0},{"dtm":"2025-08-21 02:15:00","pv_watts":0.0},{"dtm":"2025-08-21
        02:30:00","pv_watts":0.0},{"dtm[...]
