---
http_interactions:
- request:
    method: get
    uri: https://api.pvnode.com/v2/forecast/<PVNODE_SITE_ID>?forecast_days=1&include=clearsky&include=default&include=weather&past_days=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PVNODE_APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"site_id":"<PVNODE_SITE_ID>","timezone":"Europe/Berlin","computed_at":"2026-06-24T06:13:53.652682+02:00","included":["clearsky","default","weather"],"daily":[{"date":"2026-06-24","pv_energy_kwh":60.78,"temp_min":19.1,"temp_max":33.6,"weather_code":0,"pv_energy_kwh_clearsky":66.56},{"date":"2026-06-25","pv_energy_kwh":61.09,"temp_min":21.4,"temp_max":34.3,"weather_code":0,"pv_energy_kwh_clearsky":66.54}],"values":[{"timestamp":"2026-06-24T00:00:00","pv_power":0.0,"temp":22.5,"weather_code":0,"wind_speed":0.9,"relative_humidity":82.0,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-06-24T00:15:00","pv_power":0.0,"temp":22.0,"weather_code":0,"wind_speed":0.9,"relative_humidity":83.5,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-06-24T00:30:00","pv_power":0.0,"temp":21.6,"weather_code":0,"wind_speed":1.0,"relative_humidity":85.0,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-06-24T00:45:00","pv_power":0.0,"temp":21.1,"weather_code":0,"wind_speed":1.0,"rela[...]
