---
http_interactions:
- request:
    method: get
    uri: https://api.pvnode.com/v1/forecast/?clearsky_data=true&diffuse_radiation_model=perez&forecast_days=3&latitude=<FORECAST_LATITUDE>&longitude=<FORECAST_LONGITUDE>&orientation=200.0&past_days=0&pv_power_kw=9.24&required_data=pv_watts&slope=30.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PVNODE_APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":"forecast","latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"elevation":86.1,"slope":30.0,"orientation":200.0,"data_timezone":"utc","values":[{"dtm":"2025-11-12
        00:00:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-12
        00:15:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-12
        00:30:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-12
        00:45:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-12
        01:00:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-12
        01:15:00","pv_watts":0.0,"spec_watts_clearsky":0.0,"pv_w[...]
