---
http_interactions:
- request:
    method: get
    uri: https://api.pvnode.com/v1/forecast/?clearsky_data=true&diffuse_radiation_model=perez&forecast_days=3&latitude=<FORECAST_LATITUDE>&longitude=<FORECAST_LONGITUDE>&orientation=20&past_days=0&pv_power_kw=9.24&required_data=pv_watts,temp,weather_code&slope=30&snow_slide_coefficient=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PVNODE_APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":"forecast","latitude":<FORECAST_LATITUDE>,"longitude":<FORECAST_LONGITUDE>,"elevation":98.1,"slope":30.0,"orientation":20.0,"data_timezone":"utc","values":[{"dtm":"2025-11-20
        00:00:00","pv_watts":0.0,"temp":3.0,"weather_code":3,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-20
        00:15:00","pv_watts":0.0,"temp":2.9,"weather_code":3,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-20
        00:30:00","pv_watts":0.0,"temp":2.9,"weather_code":61,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-20
        00:45:00","pv_watts":0.0,"temp":2.9,"weather_code":61,"spec_watts_clearsky":0.0,"pv_watts_clearsky":0.0},{"dtm":"2025-11-20
        01:00:00","pv_watts":0.0,"temp":2.9,"weather_code":61,"spec_watts_clearsk[...]
