---
http_interactions:
- request:
    method: get
    uri: https://api.pvnode.com/v2/forecast/<PVNODE_SITE_ID>?include=clearsky&include=default&include=weather&past_days=0&timezone=utc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <PVNODE_APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Requestlimit-Limit:
      - '15000'
      Requestlimit-Remaining:
      - '12739'
      Requestlimit-Reset:
      - '2026-09-01T00:00:00Z'
      Requestlimit-Used:
      - '2261'
    body:
      encoding: ASCII-8BIT
      string: '{"site_id":"<PVNODE_SITE_ID>","timezone":"UTC","computed_at":"2026-08-24T14:44:00Z","next_poll_at":"2026-08-24T15:00:00Z","included":["clearsky","default","weather"],"available":["default","weather","irradiance","clearsky","strings"],"daily":[{"date":"2026-08-24","pv_energy_kwh":51.89,"temp_min":9.1,"temp_max":22.4,"weather_code":3,"pv_energy_kwh_clearsky":63.49},{"date":"2026-08-25","pv_energy_kwh":26.97,"temp_min":11.7,"temp_max":19.7,"weather_code":3,"pv_energy_kwh_clearsky":63.54},{"date":"2026-08-26","pv_energy_kwh":44.53,"temp_min":13.5,"temp_max":25.5,"weather_code":2,"pv_energy_kwh_clearsky":61.18},{"date":"2026-08-27","pv_energy_kwh":31.24,"temp_min":17.1,"temp_max":27.0,"weather_code":3,"pv_energy_kwh_clearsky":60.52},{"date":"2026-08-28","pv_energy_kwh":39.45,"temp_min":15.7,"temp_max":22.2,"weather_code":3,"pv_energy_kwh_clearsky":62.22},{"date":"2026-08-29","pv_energy_kwh":46.6,"temp_min":14.7,"temp_max":23.1,"weather_code":3,"pv_energy_kwh_clearsky":61.92},{"date":"2026-08-30","pv_energy_kwh":40.01,"temp_min":16.6,"temp_max":23.6,"weather_code":3,"pv_energy_kwh_clearsky":61.14}],"values":[{"timestamp":"2026-08-23T22:00:00Z","pv_power":0.0,"temp":12.6,"weather_code":0,"wind_speed":0.9,"relative_humidity":85.0,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-08-23T22:15:00Z","pv_power":0.0,"temp":12.6,"weather_code":0,"wind_speed":0.9,"relative_humidity":84.5,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-08-23T22:30:00Z","pv_power":0.0,"temp":12.6,"weather_code":0,"wind_speed":0.9,"relative_humidity":84.0,"precipitation_mm":0.0,"snow_water_equivalent":0.0,"pv_power_clearsky":0.0},{"timestamp":"2026-08-23T22:45:00Z","pv_power":0.0,"temp":12.6,"weather_code":0,"wind_speed":0.9,"r[...]
