---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/<SOLCAST_0_SITE>/forecasts?api_key=<SOLCAST_APIKEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Reset:
      - '1755612540'
      X-Rate-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
    body:
      encoding: UTF-8
      string: '{"forecasts":[{"pv_estimate":6.8247,"pv_estimate10":5.9782,"pv_estimate90":6.9456,"period_end":"2025-08-19T14:30:00.0000000Z","period":"PT30M"},{"pv_estimate":6.3175,"pv_estimate10":5.2141,"pv_estimate90":6.4634,"period_end":"2025-08-19T15:00:00.0000000Z","period":"PT30M"},{"pv_estimate":5.7851,"pv_estimate10":4.6584,"pv_estimate90":5.9346,"period_end":"2025-08-19T15:30:00.0000000Z","period":"PT30M"},{"pv_estimate":5.0199,"pv_estimate10":3.8703,"pv_estimate90":5.1722,"period_end":"2025-08-19T16:00:00.0000000Z","period":"PT30M"},{"pv_estimate":4.2233,"pv_estimate10":2.968,"pv_estimate90":4.3822,"period_end":"2025-08-19T16:30:00.[...]
