---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/<SOLCAST_0_SITE>/forecasts?api_key=<SOLCAST_APIKEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Reset:
      - '1755588420'
      X-Rate-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '597'
    body:
      encoding: UTF-8
      string: '{"forecasts":[{"pv_estimate":1.4651,"pv_estimate10":1.4651,"pv_estimate90":1.4651,"period_end":"2025-08-19T07:30:00.0000000Z","period":"PT30M"},{"pv_estimate":2.4604,"pv_estimate10":2.4535,"pv_estimate90":2.4604,"period_end":"2025-08-19T08:00:00.0000000Z","period":"PT30M"},{"pv_estimate":3.4222,"pv_estimate10":3.3315,"pv_estimate90":3.4222,"period_end":"2025-08-19T08:30:00.0000000Z","period":"PT30M"},{"pv_estimate":4.3076,"pv_estimate10":4.0373,"pv_estimate90":4.3076,"period_end":"2025-08-19T09:00:00.0000000Z","period":"PT30M"},{"pv_estimate":5.1144,"pv_estimate10":4.5836,"pv_estimate90":5.1144,"period_end":"2025-08-19T09:30:00[...]
