---
http_interactions:
- request:
    method: get
    uri: https://api.solcast.com.au/rooftop_sites/<SOLCAST_0_SITE>/forecasts?api_key=<SOLCAST_APIKEY>&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Rate-Limit-Reset:
      - '1773828540'
      X-Rate-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
    body:
      encoding: UTF-8
      string: '{"forecasts":[{"pv_estimate":7.0866,"pv_estimate10":7.0764,"pv_estimate90":7.0866,"period_end":"2026-03-18T10:30:00.0000000Z","period":"PT30M"},{"pv_estimate":7.62,"pv_estimate10":7.4747,"pv_estimate90":7.62,"period_end":"2026-03-18T11:00:00.0000000Z","period":"PT30M"},{"pv_estimate":8.0213,"pv_estimate10":7.7549,"pv_estimate90":8.0213,"period_end":"2026-03-18T11:30:00.0000000Z","period":"PT30M"},{"pv_estimate":8.2753,"pv_estimate10":7.9534,"pv_estimate90":8.2753,"period_end":"2026-03-18T12:00:00.0000000Z","period":"PT30M"},{"pv_estimate":8.4539,"pv_estimate10":8.0805,"pv_estimate90":8.4539,"period_end":"2026-03-18T12:30:00.000[...]
